$gray-1: #F9F9F9;
$gray-6: #666666;


$brand-primary: #212121;
$brand-accent: #FF69B4;
$blank-slate: #ffffff;

$button-buy: $brand-accent;

$font-family-sans-serif: 'Didact Gothic', sans-serif;
$font-family-serif: 'Lora', serif;