@import 'reset';
@import 'variables';
@import 'mixins';

body {
  color: $brand-primary;
  font-family: $font-family-sans-serif
}

.header-wrapper {
  position: relative;
  background: $gray-1;
}

.header-div {
  width: 660px;
  margin: auto;
  padding-top: 50px;
}

.nav {
  position: absolute;
  width: 100%;
  top: 210px;
  padding: 15px 0;
  height: 25px;
  background-color: $blank-slate;
  border-top: 1px solid $gray-1;

  .nav-menu-items {
    width: 535px;
    margin: auto;
    cursor: pointer;
  }

  .nav-item {
    display: inline;
    padding: 0 15px;
    text-transform: uppercase;

    &:hover {
      color: $brand-accent;
    }
  }

  .search-link {
    margin-left: 15px;
  }
}

.modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33,33,33,0.7);
  display: none;

  .close-modal {
    float: right;
    padding: 0 20px;
    color: $gray-1;
    font-size: 40px;
    cursor: pointer;
  }

  .search-form {
    width: 550px;
    margin: auto;
  }

  .search-input {
    height: 70px;
    width: 100%;
    margin-top: 60px;
    background-color: $blank-slate;
    border-radius: 2px;
    border: 1px solid $gray-1;
    font-size: 30px;
  }
}


.content-container {
  background-color: $blank-slate;
  padding-top: 60px;
  font-family: $font-family-serif;

  .content-div {
    border: 1px solid $brand-primary;
    height: 300px;
    width: 20%;
    padding: 20px;
    margin: 20px;
    float: left;

  }
}

.center-y {
  @include vertical-align();
}

.buy-button {
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 0 $gray-1;
  cursor: pointer;
  border-radius: 2px;
  background-color: $button-buy;
  color: $gray-1;

  &:hover {
    box-shadow: 1px 1px 1px 0 $gray-6;
  }
}






