html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, input, h1, h2, h3, h4, h5, h6, header, hgroup, hr, noscript, ol, output, p, pre, section, table, tfoot, ul, li, video {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type='button'],
input[type='submit'],
input[type='image'] {
  outline: none;
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #212121;
  font-family: "Didact Gothic", sans-serif;
  background-color: #F9F9F9; }

.main {
  position: relative; }

.modal-overlay {
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.7);
  display: none; }

.modal {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  border-radius: 2px;
  width: 500px;
  height: 300px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: none; }
  .modal .close-modal {
    float: right;
    padding: 0 20px;
    color: #666666;
    font-size: 40px;
    cursor: pointer; }

.nav {
  background-color: #ffffff;
  border-top: 1px solid #F9F9F9;
  padding: 15px 0;
  height: 55px; }
  .nav .nav-menu-items {
    width: 535px;
    margin: auto;
    cursor: pointer; }
  .nav .nav-item {
    display: inline;
    padding: 0 15px;
    text-transform: uppercase; }
    .nav .nav-item:hover {
      color: #FF69B4; }

.content {
  width: 40%;
  margin: 60px auto; }
  .content .content-text {
    margin-top: 20px; }
  .content .text-opener {
    font-size: 3em;
    font-weight: bold;
    margin-right: 5px; }

.buy-button {
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 0 #F9F9F9;
  cursor: pointer;
  border-radius: 2px;
  background-color: #FF69B4;
  color: #F9F9F9; }
  .buy-button:hover {
    box-shadow: 1px 1px 1px 0 #666666; }
