html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

li {
  display: block; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type='button'],
input[type='submit'],
input[type='image'] {
  outline: none;
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #212121;
  font-family: "Didact Gothic", sans-serif; }

.header-wrapper {
  position: relative;
  background: #F9F9F9; }

.header-div {
  width: 660px;
  margin: auto;
  padding-top: 50px; }

.nav {
  position: absolute;
  width: 100%;
  top: 210px;
  padding: 15px 0;
  height: 25px;
  background-color: #ffffff;
  border-top: 1px solid #F9F9F9; }
  .nav .nav-menu-items {
    width: 535px;
    margin: auto;
    cursor: pointer; }
  .nav .nav-item {
    display: inline;
    padding: 0 15px;
    text-transform: uppercase; }
    .nav .nav-item:hover {
      color: #FF69B4; }
  .nav .search-link {
    margin-left: 15px; }

.search-modal-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.7);
  display: none; }
  .search-modal-overlay .close-modal {
    float: right;
    padding: 0 20px;
    color: #F9F9F9;
    font-size: 40px;
    cursor: pointer; }
  .search-modal-overlay .search-form {
    width: 550px;
    margin: auto; }
  .search-modal-overlay .search-input {
    height: 70px;
    width: 100%;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #F9F9F9;
    font-size: 30px; }

.content-container {
  background-color: #ffffff;
  padding-top: 60px;
  font-family: "Lora", serif; }
  .content-container .content-div {
    border: 1px solid #212121;
    height: 300px;
    width: 20%;
    padding: 20px;
    margin: 20px;
    float: left; }

.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.buy-button {
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 0 #F9F9F9;
  cursor: pointer;
  border-radius: 2px;
  background-color: #FF69B4;
  color: #F9F9F9; }
  .buy-button:hover {
    box-shadow: 1px 1px 1px 0 #666666; }
